body {
  background-color: lightsteelblue;
}

table {
  border-collapse: separate;
  border-spacing: 20px;

  td {
    background-color: white;
    border: 3px darkslateblue solid;
    height: 160px;
    width: 160px;
  }
}

.pink {
  background-color: deeppink;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: mediumblue;
}
